:root {
  --bot-deg: 270deg;
  --customer-deg: 60deg;
}
#waveform region[data-id*="bot"] {
  background-color: transparent !important;
  backdrop-filter: hue-rotate(var(--bot-deg));
}
#waveform region[data-id*="customer"] {
  background-color: transparent !important;
  backdrop-filter: hue-rotate(var(--customer-deg));
}
#waveform region[data-id*="edit-customer"] {
  background-color: rgba(128, 128, 128, 0.12) !important;
  backdrop-filter: hue-rotate(var(--customer-deg));
}
#waveform region[data-id*="edit-bot"] {
  background-color: rgba(128, 128, 128, 0.12) !important;
  backdrop-filter: hue-rotate(var(--bot-deg));
}
#waveform region {
  animation: regionin 0.5s ease-in;
}
@keyframes regionin {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleY(1);
  }
}
